venv/
__pycache__/
*.pyc
*.pyo
.Python
*.egg-info/
.ipynb_checkpoints/

.env

data/raw/*.csv
data/raw/*.json
data/processed/*.csv
data/processed/plots/
data/final/*.csv
data/final/*.json
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/final/.gitkeep

.DS_Store
Thumbs.db

.vscode/
*.ipynb_checkpoints